* {
  margin: 0;
  padding: 0;
}

/* General styles */

body {
  font-family: "VT323", sans-serif;
}

a {
	color: #00e;
}

a:active {
	color: #e00;
}

a:visited {
	color: #551a8b;
}

h1 {
	font-size: 48px;
}

section {
	padding: 24px;
}

/* Header */

#dasein .dasein-header {
	text-align: center;
}

#dasein .dasein-header a {
  font-size: 96px;
}

.welcome-container,
.login-container {
  font-size: 24px;
  padding: 50px 10px 10px;
}

/* The stream */

.comments-container .comment .comment-meta,
.posts-container .post .post-meta {
  background-color: lightgray;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.comment-meta time, .comment-meta a,
.post-meta time, .post-meta a {
  padding: 0 10px;
}

.comments-container .comment .comment-content,
.comment-form-container .comment-content-input,
.comment-form-container .comment-submit,
.posts-container .post .post-content,
.post-form-container .post-content-input,
.post-form-container .post-submit {
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  padding: 10px;
}

.comments-container .comment .comment-content,
.posts-container .post .post-content {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.comment-form-container .comment-content-input,
.post-form-container .post-content-input {
  display: block;
  margin: 10px;
  width: 90%;
  resize: none;
  height: 140px;
}

.comment-form-container .comment-submit,
.comment-form-container .comment-activate,
.post-form-container .post-submit {
  margin: 10px auto;
  display: block;
  background-color: lightgray;
}

.post-form-container .post-submit:active {
  background-color: cyan;
}

.posts-error,
.comments-error,
.post-form-error {
  color: red;
  padding: 10px;
}

/* Comments */

.comments-container .comment .comment-meta {
  background-color: ghostwhite;
  font-size: 16px;
}

.comments-container .comment .comment-meta img {
  width: 24px;
  height: 24px;
}

.comments-container .comment .comment-content,
.comment-form-container .comment-content-input,
.comment-form-container .comment-submit {
  font-size: 16px;
}

.comment-form-container .comment-activate {
  padding: 2px;
  font-size: 12px;
}

.comment-form-container .comment-content-input {
  height: 70px;
}

.comment-form-container .comment-activate:active,
.comment-form-container .comment-submit:active {
  background-color: magenta;
}
