* {
  margin: 0;
  padding: 0;
}

/* General styles */

body {
  font-family: "VT323", sans-serif;
}

a {
	color: #00e;
}

a:active {
	color: #e00;
}

a:visited {
	color: #551a8b;
}

h1 {
	font-size: 48px;
}

section {
	padding: 24px;
}

/* Header */

#dasein .dasein-header {
	text-align: center;
}

#dasein .dasein-header a {
  font-size: 96px;
}

/* The stream */
